# Archivos de entorno y claves
.env
env/
database/

# Bases de datos (¡Muy importante!)
*.sql

# Dependencias
node_modules/
vendor/

# Archivos de Sistema
.DS_Store
Thumbs.db


/u748307513_fitdata.sql
