<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-adsense-account" content="ca-pub-9371741460887435">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/public/css/signin.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/public/assets/favicons/favicon-removebg.png" type="image/x-icon">
    <title>Aviso Legal</title>
</head>
<body>
    <section class="container">
        <%- include('navbar',{ user: user }) %>
        <section class="">
            <div class="">
                <header>
                    <h1 class="text-center mt-5 mb-3">Aviso Legal</h1>
                </header>
                <article class="">
                    <section class="">
                        <header>
                            <h2 class="mt-2">Identificación y Titularidad</h2>
                        </header>
                        <p>
                            En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico, el Titular expone sus datos identificativos:
                        </p>
                        <ul>
                            <li><strong>Titular:</strong> AzulaDev</li>
                            <li><strong>Domicilio:</strong> Cali - Valle del Cauca</li>
                            <li><strong>Correo electrónico:</strong> <a href="mailto:info@fitdata.com.co">info@fitdata.com.co</a></li>
                            <li><strong>Sitio Web:</strong> <a href="https://fitdata.online/">fitdata.online</a></li>
                        </ul>
                    </section>
        
                    <section>
                        <header>
                            <h2>Condiciones de Uso</h2>
                        </header>
                        <p>
                            La utilización del Sitio Web le otorga la condición de Usuario e implica la aceptación completa de todas las cláusulas y condiciones de uso incluidas en las páginas:
                        </p>
                        <ul>
                            <li><a href="https://fitdata.online/avisoLegal/">Aviso Legal</a></li>
                            <li><a href="https://fitdata.online/privacyPolicy/">Política de Privacidad</a></li>
                            <li><a href="https://fitdata.online/politica-de-cookies/">Política de Cookies</a></li>
                        </ul>
                        <p>Si no está conforme con todas estas cláusulas y condiciones, absténgase de utilizar el Sitio Web.</p>
                        <p>El acceso al Sitio Web no supone el inicio de una relación comercial con el Titular.</p>
                        <p>
                            A través del Sitio Web, el Titular le facilita el acceso a contenidos que él mismo y/o sus colaboradores han publicado. Está obligado a no utilizar estos contenidos con fines ilícitos o dañinos.
                        </p>
                    </section>
        
                    <section>
                        <header>
                            <h2>Medidas de Seguridad</h2>
                        </header>
                        <p>
                            Los datos personales que facilite al Titular pueden ser almacenados en bases de datos automatizadas o no, cuya titularidad corresponde en exclusiva al Titular, quien asegura su protección según la normativa vigente.
                        </p>
                        <p>
                            Sin embargo, el Titular no puede garantizar la ausencia de amenazas como virus u otros elementos dañinos, aunque toma medidas para evitarlos.
                        </p>
                    </section>
        
                    <section>
                        <header>
                            <h2>Tratamiento de Datos Personales</h2>
                        </header>
                        <p>
                            Puede consultar la información relativa al tratamiento de datos personales en la página de <a href="https://fitdata.online/privacyPolicy/">Política de Privacidad</a>.
                        </p>
                    </section>
        
                    <section>
                        <header>
                            <h2>Política de Cookies</h2>
                        </header>
                        <p>
                            Consulte la información sobre cookies en la página de <a href="https://fitdata.online/politica-de-cookies/">Política de Cookies</a>.
                        </p>
                    </section>
        
                    <section>
                        <header>
                            <h2>Propiedad Intelectual e Industrial</h2>
                        </header>
                        <p>Todos los derechos están reservados.</p>
                        <p>
                            La reproducción, almacenaje o difusión de los contenidos del Sitio Web para fines comerciales queda prohibida sin consentimiento previo del Titular.
                        </p>
                    </section>
        
                    <section>
                        <header>
                            <h2>Contacto</h2>
                        </header>
                        <p>
                            Para dudas o comentarios sobre este Aviso Legal, envíe un correo a: <a href="mailto:info@fitdata.online">info@fitdata.online</a>.
                        </p>
                    </section>
                </article>
            </div>
        </section>
        

    </section>
    <%- include('footer',{ user: user }) %>
    <!-- Botón "Volver arriba" -->
    <section class="scroll">
        <a id="scroll-to-top" href="#" class="back-to-top" role="button">
            <i class="bi bi-arrow-up-circle-fill"></i></a>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/52b9ec387c.js" crossorigin="anonymous"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9371741460887435"
     crossorigin="anonymous"></script>    
</body>
</html>
